.about-container {
    height: 2060px;
    width: 100%;
    position: absolute;
    z-index: -6;
    background-color: #99601D;

    .background-picture {
        position: fixed;
        z-index: -1;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
        filter: contrast(1.25) brightness(0.8);
    }

        .parallax {
            background-size: cover;
        }

        .parallax_1 {
            position: fixed;
            z-index: -5;
        }

        .parallax_2 {
            position: absolute;
            z-index: -3;
        }

        .parallax_3 {
            position: absolute;
            z-index: -2;
        }

        .parallax_4 {
            position: absolute;
            z-index: -1;
        }

        .parallax_5 {
            position: absolute;
            z-index: -4;
        }
    

    .foreground-content {
        width: 100%;
        height: 2000px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        header {
            display: flex;
            align-self: flex-end;
            width: 88%;
            height: 15%;
            max-height: 100px;
            position: relative;
            overflow: hidden;
            animation: linear 1 forwards;
            animation-name: airplaneBackground;
            animation-duration: 4s;

            .airplane-container {
                position: absolute;
                top: 16px;
                display: flex;
                align-items: center;
                animation: linear 1 forwards;
                animation-name: airplaneMove;
                animation-duration: 3s;
            }  
        }
    
        main {
            position: relative;
            width: 88%;
            height: 85%;
            overflow: hidden;
        }
    }
    
}