nav {
    display: flex;
    justify-content: space-evenly;
    width: 88%;
    height: 100%;

    .home, .about, .skills, .portfolio {
        @include flexbox-center;
        opacity: 0;
        width: 100%;
        height: calc(100% - 3px);
        border-right: 1px solid rgba(156, 144, 144, 0.28);
        cursor: pointer;
        border-top: 3px solid transparent;

        &:hover {
            border-top: 3px solid;
        }
    }

    .home {
        animation: linear 1 forwards;
        animation-name: aboutAppears;
        animation-duration: 1s;
        animation-delay: 2s;
    }

    .about {
        animation: linear 1 forwards;
        animation-name: aboutAppears;
        animation-duration: 1s;
        animation-delay: 2.5s;
    }

    .skills {
        animation: linear 1 forwards;
        animation-name: aboutAppears;
        animation-duration: 1s;
        animation-delay: 3s;
    }

    .portfolio {
        animation: linear 1 forwards;
        animation-name: aboutAppears;
        animation-duration: 1s;
        animation-delay: 3.5s;
    }

    h2 {
        font-family: 'Saira', sans-serif;
        font-weight: normal;
        text-align: center;
    }

    
}