nav {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    height: 100%;

    .about, .skills, .portfolio {
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        flex-basis: 33%;
        border-right: 1px solid rgba(156, 144, 144, 0.28);
        cursor: pointer;
        border-top: 3px solid transparent;

        &:hover {
            border-top: 3px solid;
        }

        &:nth-child(1) {
            animation: linear 1 forwards;
            animation-name: aboutAppears;
            animation-duration: 1s;
            animation-delay: 0.5s;
        }

        &:nth-child(2) {
            animation: linear 1 forwards;
            animation-name: aboutAppears;
            animation-duration: 1s;
            animation-delay: 1.25s;
        }

        &:nth-child(3) {
            animation: linear 1 forwards;
            animation-name: aboutAppears;
            animation-duration: 1s;
            animation-delay: 1.75s;
        }
    }

    h2 {
        font-family: 'Saira', sans-serif;
        font-weight: normal;
        text-align: center;
    }

    
}