.presentation-container {
    height: 85%;
    width: 40%;
    max-width: 450px;
    background-color: rgba(24, 36, 37, 0.70);
    font-family: 'Anek Bangla', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .introduction-photo {
        display: flex;
        margin: 20px 20px 0 20px;
        height: 30%;

        p {
            font-size: 1.5em;
            line-height: 38px;

            span {
                color: #CF7FF4;
            }
        }

        img {
            height: 125px;
            width: 125px;
            border-radius: 50%;
        }
    }

    .main-info {
        margin: 0 20px;
        height: 45%;

        p {
            font-size: 1.22em;

            span {
                color: #CF7FF4;
            }
        }
    }

    .buttons {
        margin: 0 20px;
        height: 25%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        a {
            width: auto;
        }

        button {
            height: 50px;
            width: 120px;
            transition: 300ms;
            background-color: #452156;
            border-radius: 20px;
            border: solid 2px rgba(255, 255, 255, 0.286);
            color: #fff;
            font-weight: bold;
            font-size: 1em;
            cursor: pointer;
            &:hover {
                transform: scale(1.3);
            }
        }
    }
    
}