@keyframes smallCloudWind {
    0% {
      left: -300px;
    }

    100% {
      left: 100%;
    }
}

@keyframes middleCloudWind {
    0% {
      left: 800px;
    }

    100% {
      left: 100%;
    }
}

@keyframes middleCloudWind2 {
  0% {
    left: -200px;
  }

  100% {
    left: 100%;
  }
}

@keyframes cloudAppears {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
  
@keyframes bigCloudWind {
    0% {
      left: -1000px;
    }

    100% {
      left: 100%;
    }
}

@keyframes aboutAppears {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

@keyframes comet {
  0% {
      transform: translate(0, 0);
  }

  100% {
      transform: translate(-500px, 500px);
  }
}

@keyframes opacityNav{
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@keyframes nightFalling{
  0% {
      opacity: 0;
  }

  100% {
      opacity: 0.4432;
  }
}

@keyframes switchOnLight{
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@keyframes dawningDay{
  0% {
      opacity: 0.4432;
  }

  100% {
      opacity: 0;
  }
}

@keyframes switchOffLight{
  0% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}

@keyframes vietnamCloud {
  0% {
    left: -1000px;
  }

  100% {
    left: 100%;
  }
}

@keyframes darkCloudsAppears{
  0% {
      opacity: 0;
  }

  100% {
      opacity: 0.4;
  }
}

@keyframes darkCloudsDisappears{
  0% {
      opacity: 0.4;
  }

  100% {
      opacity: 0;
  }
}

@keyframes blurAppears{
  0% {
      filter: blur(0px);
  }

  100% {
      filter: blur(2px);
  }
}

@keyframes blurDisappears{
  0% {
      filter: blur(2px);
  }

  100% {
      filter: blur(0px);
  }
}

@keyframes rainFall {
	to {
		transform: translateY(105vh);
	}
}

@keyframes flowersRise {
	to {
		transform: translateY(-300px);
    opacity: 0;
	}
}

@keyframes flowersAppears {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.8;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0.5;
  }

	100% {
    opacity: 0;
	}
}

@keyframes moveArrow {

  0% {
    transform: translateY(0px);
  }

	100% {
		transform: translateY(-20px);
	}
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes contactAppears {
  to {
    transform: translateX(0px);
  }
}

@keyframes contactDisappears {
  from {
    transform: translateX(0px);
  }
  
  to {
    transform: translateX(-105vh);
  }
}