@media screen and (max-width: 1280px) {
    #tablet-mobile-nav {

        .home-mobile, .about-mobile, .skills-mobile, .portfolio-mobile {
            flex-direction: column;
        }
        svg {
            padding: 0;
        }
        
    }
}

@media screen and (max-width: 1100px) {

    #tablet-main {
        justify-content: center;
    }

    #tablet-text-lamp-container {
        // justify-content: center;

        #tablet-text-container {
            width: 40%;
        }

        #tablet-lamp-container {
            transform: translate(80px, -135px);
        }
    }

}


@media screen and (max-width: 840px) {
    #tablet-header {
        display: none;
    }

    #tablet-main {
        width: calc(100% - 100px);
    }

    #tablet-mobile-nav {

        h2 {
            display: none;
        }
    }

    #tablet-lamp-container {
        transform: translate(27px, -135px);
    }
}

@media screen and (max-width: 760px) {
    #tablet-text-lamp-container {
        
        #tablet-lamp-container {
            transform: translate(10px, -135px);
        }
    }
    
}

@media screen and (max-width: 600px) {
    #tablet-text-lamp-container {
        #tablet-lamp-container {
            transform: translate(-40px, -135px);
        }
    }
    
}

@media screen and (max-width: 526px) {

    #tablet-comet {
        left: 260px;
    }

    #tablet-text-lamp-container {
        text-align: center;

        #tablet-text-container {
            width: 100%;

            h1 {
                font-size: 2em;
                padding: 0 10px;
            }

            h2 {
                font-size: 1.4em;
            }
        }

        .blink-text-container {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        #tablet-lamp-container {
            display: none;
        }
    }  
}