@import url('https://fonts.googleapis.com/css2?family=Saira:wght@500&display=swap');

body {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    max-height: 1078px;
    box-sizing: border-box;
    margin: 0;
    color: #fff;
}